/*! =========================================== *
 * GREEN LUME THEME
 * Version: 4.0.0
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Tweets @_csalmeida
 * =========================================== */
:root {
  --main-bg-color: #1C1C1C;
  --secondary-bg-color: #0f0f0f;
  --bgcolor-searchbox-field: #000;
  --bgcolor-spacebar: rgba(255, 255, 255, 0.1);
  --bgcolor-aside-link: rgba(0, 0, 0, 0.3);
  --bgcolor-toolbar: #292929;
  --fillcolor-logo: #f6f7fa;
  --fillcolor-icons: #fff;
  --color-nav-link: #fff;
  --color-nav-active: #2FBF71;
  --color-standard-text: #fff;
  --boxshadow-main: none; }

.pm-button--error, .pm-button--primary, .pm-button--warning, .pm-button-blue {
  color: #fff;
  background-color: #2FBF71;
  border: 1px solid #2FBF71;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out; }

.is-hover.pm-button--error, .is-hover.pm-button--primary, .is-hover.pm-button--warning, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover {
  color: #fff;
  box-shadow: 0 0 0.35714em 0 rgba(0, 0, 0, 0.2);
  background: #2aab65;
  border: 1px solid #2aab65; }

.aside-link {
  background: #0f0f0f; }

.aside-link:active .aside-linkIcon, .aside-link:focus .aside-linkIcon, .aside-link:hover .aside-linkIcon, .aside-link[aria-current="true"] .aside-linkIcon {
  fill: #0f0f0f;
  background: none; }

.circle-chart__circle {
  stroke: #2FBF71; }

#global_search.searchbox-field[type="search"] {
  background-color: #000;
  color: #d6d6d6; }

.topnav-link, .topnav-link > .topnav-icon {
  color: #fff;
  transition: color .2s ease-in-out; }

.topnav-link:active, .topnav-link:focus,
.topnav-link:hover, .topnav-link[aria-current="true"] {
  color: #2FBF71; }

.topnav-link:active > .topnav-icon, .topnav-link:focus > .topnav-icon,
.topnav-link:hover > .topnav-icon, .topnav-link[aria-current=true] > .topnav-icon {
  color: #2FBF71; }

.conversation.marked::before {
  background: #2FBF71; }

.conversation.item-container:not(.item-is-selected):not(.item-contact):not(.read):not(.active) {
  background: #fff; }

.conversation.item-container.active, .conversation.item-is-selected {
  background: rgba(47, 191, 113, 0.1); }

.conversation .item-checkbox:checked + .item-icon {
  background-color: #2FBF71;
  border-color: #2FBF71; }

.conversation .item-checkbox + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #2FBF71; }

.conversation .item-checkbox:checked + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #fff; }

.conversation .selectBoxElement-container:hover .item-icon {
  background-color: transparent;
  border: 1px solid #2aab65; }
  .conversation .selectBoxElement-container:hover .item-icon .item-icon-fakecheck-icon {
    fill: #2aab65; }

.conversation .selectBoxElement-container:hover .item-checkbox:checked + .item-icon {
  background-color: #2aab65;
  border-color: #2aab65; }

.starbutton {
  fill: #2FBF71 !important;
  opacity: 0.7; }

.starbutton:focus, .starbutton:hover {
  fill: #2FBF71; }

.color-pm-blue {
  color: #2FBF71; }

.pm-radio:checked + .pm-radio-fakeradio::before {
  background: #2FBF71; }

.block-info-standard {
  border-color: #1b68c6; }

.block-info-standard-warning {
  border-color: #ffaa00; }

.block-info-standard-error {
  border-color: #d62646; }

.link, a, .pm-button--link {
  color: #1C1C1C;
  transition: color .2s ease-in-out; }

.link:active, .link:focus, .link:hover,
a:active, a:focus, a:hover,
.pm-button--link:hover {
  color: #259659; }

.pm-button--primary {
  background-color: #2FBF71;
  border-color: #2FBF71; }

.pm-button--link, .pm-button.pm-button--link {
  color: #2FBF71; }

.pm-button--error, .pm-button--error.pm-button--info, .pm-button--error.pm-button--redborder, .pm-button--primary, .pm-button--primary.pm-button--info, .pm-button--primary.pm-button--redborder, .pm-button--warning, .pm-button--warning.pm-button--info, .pm-button--warning.pm-button--redborder, .pm-button-blue, .pm-button-blue.pm-button--info, .pm-button-blue.pm-button--redborder, .pm-button.pm-button--error, .pm-button.pm-button--primary, .pm-button.pm-button--warning, .pm-button.pm-button-blue {
  background-color: #2FBF71;
  border-color: #2FBF71; }

.is-hover.pm-button--error, .is-hover.pm-button--error.pm-button--info, .is-hover.pm-button--error.pm-button--redborder, .is-hover.pm-button--primary, .is-hover.pm-button--primary.pm-button--info, .is-hover.pm-button--primary.pm-button--redborder, .is-hover.pm-button--warning, .is-hover.pm-button--warning.pm-button--info, .is-hover.pm-button--warning.pm-button--redborder, .pm-button--error.pm-button--info:focus, .pm-button--error.pm-button--info:focus-within, .pm-button--error.pm-button--info:hover, .pm-button--error.pm-button--redborder:focus, .pm-button--error.pm-button--redborder:focus-within, .pm-button--error.pm-button--redborder:hover, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary.pm-button--info:focus, .pm-button--primary.pm-button--info:focus-within, .pm-button--primary.pm-button--info:hover, .pm-button--primary.pm-button--redborder:focus, .pm-button--primary.pm-button--redborder:focus-within, .pm-button--primary.pm-button--redborder:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning.pm-button--info:focus, .pm-button--warning.pm-button--info:focus-within, .pm-button--warning.pm-button--info:hover, .pm-button--warning.pm-button--redborder:focus, .pm-button--warning.pm-button--redborder:focus-within, .pm-button--warning.pm-button--redborder:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue.is-hover.pm-button--info, .pm-button-blue.is-hover.pm-button--redborder, .pm-button-blue.pm-button--info:focus, .pm-button-blue.pm-button--info:focus-within, .pm-button-blue.pm-button--info:hover, .pm-button-blue.pm-button--redborder:focus, .pm-button-blue.pm-button--redborder:focus-within, .pm-button-blue.pm-button--redborder:hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover, .pm-button.is-hover.pm-button--error, .pm-button.is-hover.pm-button--primary, .pm-button.is-hover.pm-button--warning, .pm-button.pm-button--error:focus, .pm-button.pm-button--error:focus-within, .pm-button.pm-button--error:hover, .pm-button.pm-button--primary:focus, .pm-button.pm-button--primary:focus-within, .pm-button.pm-button--primary:hover, .pm-button.pm-button--warning:focus, .pm-button.pm-button--warning:focus-within, .pm-button.pm-button--warning:hover, .pm-button.pm-button-blue.is-hover, .pm-button.pm-button-blue:focus, .pm-button.pm-button-blue:focus-within, .pm-button.pm-button-blue:hover {
  background: #2aab65;
  border: 1px solid #2aab65; }

.pm-toggle-checkbox:checked + .pm-toggle-label:before {
  background: #2FBF71;
  border-color: #2FBF71; }

.fill-pm-blue,
.message-attachmentIcon .file-outer-icon.is-embedded {
  fill: #2FBF71; }

.pm-table--highlight[data-plan-number="1"] tr th:nth-child(2) {
  border-color: #2FBF71;
  color: #2FBF71; }
  .pm-table--highlight[data-plan-number="1"] tr th:nth-child(2)::before {
    background-color: #2FBF71; }

.pm-table--highlight[data-plan-number="1"] tr td:nth-child(2),
.pm-table--highlight[data-plan-number="1"] tr th:nth-child(2),
.pm-table--highlight[data-plan-number="1"] tr:last-child td:nth-child(2) {
  border-color: #2FBF71; }

.pm-simple-table-row-th .fill-primary {
  fill: #2FBF71; }

.progress-contact {
  color: #2FBF71; }
  .progress-contact::-moz-progress-bar {
    background: #2FBF71; }

.calendar-grid-heading[aria-pressed="true"]
.calendar-grid-heading-number,
.minicalendar-day[aria-pressed="true"],
.minicalendar-day[aria-current="date"]::before {
  background: #165934; }
