@use "../@theme-base/version" as info;

/*! =========================================== *
 * NORD Theme
 * Version:  #{info.$version}
 * Author:   ch1r0x
 * Website:  github.com/ch1r0x
 * Mastodon: @ch1r0x
 * =========================================== */

$base: #2e3440;
$search: #3b4252;
$highlight: #5e81ac;
$navigation: #e5e9f0;

$text_color: #eceff4;
$extra_color: #88c0d0;
$danger_color: #bf616a;
$warning_color: #d08770;
$info_color: #a3be8c;

@import "../@theme-base/styles";

// Please do not remove the imports above, add overrides and other partials below this line.
