/*! =========================================== *
 * OCHIN
 * Version: v4.0.0-beta.33
 * Author: Cristiano Almeida
 * Website: https://www.csalmeida.com
 * Twitter: @_csalmeida
 * =========================================== */
:root {
  --main-bg-color: #333E4C;
  --secondary-bg-color: #29323d;
  --bgcolor-searchbox-field: #1A2533;
  --bgcolor-spacebar: rgba(255, 255, 255, 0.1);
  --bgcolor-aside-link: rgba(0, 0, 0, 0.3);
  --bgcolor-toolbar: #3d4a5b;
  --fillcolor-logo: #f6f7fa;
  --fillcolor-icons: #fff;
  --color-nav-link: #C2C5CA;
  --color-nav-active: #A8E576;
  --color-standard-text: #fff;
  --boxshadow-main: none; }

html:not(.editor-squire-iframe) body {
  background: #333E4C;
  color: #e6eaf0; }

.pm-button--error, .pm-button--primary, .pm-button--warning, .pm-button-blue {
  color: #e6eaf0;
  background-color: #A8E576;
  border: 1px solid #A8E576;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out; }

.is-hover.pm-button--error, .is-hover.pm-button--primary, .is-hover.pm-button--warning, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover {
  color: #C2C5CA;
  box-shadow: 0 0 0.35714em 0 rgba(0, 0, 0, 0.2);
  background: #9ae161;
  border: 1px solid #9ae161; }

.pm-button--primaryborder-dark, .pm-button-blueborder-dark {
  background: #333E4C;
  border-color: #A8E576;
  color: #A8E576; }

.is-active.pm-button--primaryborder-dark, .is-hover.pm-button--primaryborder-dark, .pm-button--primaryborder-dark:focus, .pm-button--primaryborder-dark:focus-within, .pm-button--primaryborder-dark:hover, .pm-button--primaryborder-dark:not(div):active, .pm-button-blueborder-dark.is-active, .pm-button-blueborder-dark.is-hover, .pm-button-blueborder-dark:focus, .pm-button-blueborder-dark:focus-within, .pm-button-blueborder-dark:hover, .pm-button-blueborder-dark:not(div):active {
  background: #333E4C;
  border-color: #b6e98b;
  color: #b6e98b; }

.pm-button--primaryborder, .pm-button-blueborder {
  border-color: #9ae161;
  color: #9ae161; }

.is-hover.pm-button--primaryborder, .pm-button--primaryborder:focus, .pm-button--primaryborder:focus-within, .pm-button--primaryborder:hover, .pm-button-blueborder.is-hover, .pm-button-blueborder:focus, .pm-button-blueborder:focus-within, .pm-button-blueborder:hover {
  border-color: #9ae161;
  color: #9ae161; }

.is-disabled.pm-button--error, .is-disabled.pm-button--error.pm-button--info, .is-disabled.pm-button--error.pm-button--redborder, .is-disabled.pm-button--primary, .is-disabled.pm-button--primary.pm-button--info, .is-disabled.pm-button--primary.pm-button--redborder, .is-disabled.pm-button--warning, .is-disabled.pm-button--warning.pm-button--info, .is-disabled.pm-button--warning.pm-button--redborder, .pm-button--error.pm-button--info[disabled], .pm-button--error.pm-button--redborder[disabled], .pm-button--error[disabled], .pm-button--primary.pm-button--info[disabled], .pm-button--primary.pm-button--redborder[disabled], .pm-button--primary[disabled], .pm-button--warning.pm-button--info[disabled], .pm-button--warning.pm-button--redborder[disabled], .pm-button--warning[disabled], .pm-button-blue.is-disabled, .pm-button-blue.is-disabled.pm-button--info, .pm-button-blue.is-disabled.pm-button--redborder, .pm-button-blue.pm-button--info[disabled], .pm-button-blue.pm-button--redborder[disabled], .pm-button-blue[disabled], .pm-button.is-disabled.pm-button--error, .pm-button.is-disabled.pm-button--primary, .pm-button.is-disabled.pm-button--warning, .pm-button.pm-button--error[disabled], .pm-button.pm-button--primary[disabled], .pm-button.pm-button--warning[disabled], .pm-button.pm-button-blue.is-disabled, .pm-button.pm-button-blue[disabled] {
  background-color: white;
  border-color: #b6e98b;
  color: #8ddd4b; }

.bg-primary {
  background-color: #3d4a5b; }

.color-primary {
  color: #A8E576; }

.navigation__counterItem {
  background: #8ddd4b;
  color: white; }

.item-container-row:hover::before, .item-container:hover::before {
  border-color: #c3eda1; }

.item-checkbox + .item-icon:hover, .item-checkbox:hover + .item-icon {
  border-color: #ecf9e1; }

.item-checkbox:hover:not(:checked) + .item-icon .item-icon-fakecheck-icon {
  fill: #8ddd4b; }

.circle-chart__circle {
  stroke: #A8E576; }

#dropdown-0 .dropDown-content::after, #dropdown-0 .dropDown-content::before, #dropdown-0.dropDown:not(.dropDown--noCaret)::before,
#dropdown-0 .dropDown-content {
  background: #333E4C; }

.dropDown:not(.dropDown--noCaret)::before,
.dropDown::after,
.dropDown-logout-initials,
.dropDown-item-hr {
  border-color: #3d4a5b !important; }

#global_search.searchbox-field[type="search"] {
  background-color: #1A2533;
  color: #e6eaf0; }

.searchbox-advanced-search-button:active,
.searchbox-advanced-search-button:focus,
.searchbox-advanced-search-button:hover {
  background-color: #333E4C; }

.topnav-link, .topnav-link > .topnav-icon {
  color: #C2C5CA;
  transition: color .2s ease-in-out; }

.topnav-link:active, .topnav-link:focus,
.topnav-link:hover, .topnav-link[aria-current="true"] {
  color: #A8E576; }

.topnav-link:active > .topnav-icon, .topnav-link:focus > .topnav-icon,
.topnav-link:hover > .topnav-icon, .topnav-link[aria-current=true] > .topnav-icon {
  color: #A8E576; }

.protonmail .text-purple {
  color: #333E4C !important; }

.protonmail .text-purple:hover {
  color: #8ddd4b !important; }

.dropDown-item-button:focus, .dropDown-item-button:hover, .dropDown-item-link:focus, .dropDown-item-link:hover {
  color: #A8E576; }

#pm_composer .composer .composerHeader-container,
.composerInputMeta-overlay .composerHeader-container {
  background: #3d4a5b; }

#pm_composer .composer .fill {
  background: #fff; }

.conversation.marked::before {
  background: #A8E576; }

.item-container:not(.item-is-selected):not(.item-contact):not(.read):not(.active), .item-container-row:not(.item-is-selected):not(.item-contact):not(.read):not(.active) {
  background: #fff; }

.item-container.selected, .item-container-row.selected,
.item-container.active, .item-is-selected {
  background: rgba(168, 229, 118, 0.1); }

.selectBoxElement-container:hover .item-icon {
  background-color: transparent;
  border: 1px solid #9ae161; }
  .selectBoxElement-container:hover .item-icon .item-icon-fakecheck-icon {
    fill: #9ae161; }

.selectBoxElement-container:hover .item-checkbox:checked + .item-icon {
  background-color: #9ae161;
  border-color: #9ae161; }

.item-checkbox:checked + .item-icon {
  background-color: #A8E576;
  border-color: #A8E576; }

.item-checkbox + .item-icon:hover {
  background-color: #9ae161;
  border-color: #9ae161; }

.item-checkbox + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #C2C5CA; }

.item-checkbox:checked + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #C2C5CA; }

.starbutton {
  fill: #A8E576 !important;
  opacity: 0.7; }

.starbutton:focus, .starbutton:hover {
  fill: #A8E576; }

.autocompleteEmailsItem-icon svg.encryptionIcon {
  fill: #9ae161; }

.encryptionStatus .color-pm-blue svg {
  color: #9ae161;
  fill: #9ae161; }

.encryptionStatus .color-global-grey-dm svg {
  color: black; }

.color-pm-blue {
  color: #A8E576; }

.pm-radio:checked + .pm-radio-fakeradio::before {
  background: #A8E576; }

.block-info-standard {
  border-color: #1b68c6; }

.block-info-standard-warning {
  border-color: #ffaa00; }

.block-info-standard-error {
  border-color: #d62646; }

.link, a, .pm-button--link {
  color: #8ddd4b;
  transition: color .2s ease-in-out; }

.link:active, .link:focus, .link:hover,
a:active, a:focus, a:hover,
.pm-button--link:hover {
  color: #8ddd4b; }

.pm-button--primary {
  background-color: #A8E576;
  border-color: #A8E576; }

.pm-button--link, .pm-button.pm-button--link {
  color: #A8E576; }

.pm-button--error, .pm-button--error.pm-button--info, .pm-button--error.pm-button--redborder, .pm-button--primary, .pm-button--primary.pm-button--info, .pm-button--primary.pm-button--redborder, .pm-button--warning, .pm-button--warning.pm-button--info, .pm-button--warning.pm-button--redborder, .pm-button-blue, .pm-button-blue.pm-button--info, .pm-button-blue.pm-button--redborder, .pm-button.pm-button--error, .pm-button.pm-button--primary, .pm-button.pm-button--warning, .pm-button.pm-button-blue {
  background-color: #A8E576;
  border-color: #A8E576; }

.is-hover.pm-button--error, .is-hover.pm-button--error.pm-button--info, .is-hover.pm-button--error.pm-button--redborder, .is-hover.pm-button--primary, .is-hover.pm-button--primary.pm-button--info, .is-hover.pm-button--primary.pm-button--redborder, .is-hover.pm-button--warning, .is-hover.pm-button--warning.pm-button--info, .is-hover.pm-button--warning.pm-button--redborder, .pm-button--error.pm-button--info:focus, .pm-button--error.pm-button--info:focus-within, .pm-button--error.pm-button--info:hover, .pm-button--error.pm-button--redborder:focus, .pm-button--error.pm-button--redborder:focus-within, .pm-button--error.pm-button--redborder:hover, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary.pm-button--info:focus, .pm-button--primary.pm-button--info:focus-within, .pm-button--primary.pm-button--info:hover, .pm-button--primary.pm-button--redborder:focus, .pm-button--primary.pm-button--redborder:focus-within, .pm-button--primary.pm-button--redborder:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning.pm-button--info:focus, .pm-button--warning.pm-button--info:focus-within, .pm-button--warning.pm-button--info:hover, .pm-button--warning.pm-button--redborder:focus, .pm-button--warning.pm-button--redborder:focus-within, .pm-button--warning.pm-button--redborder:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue.is-hover.pm-button--info, .pm-button-blue.is-hover.pm-button--redborder, .pm-button-blue.pm-button--info:focus, .pm-button-blue.pm-button--info:focus-within, .pm-button-blue.pm-button--info:hover, .pm-button-blue.pm-button--redborder:focus, .pm-button-blue.pm-button--redborder:focus-within, .pm-button-blue.pm-button--redborder:hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover, .pm-button.is-hover.pm-button--error, .pm-button.is-hover.pm-button--primary, .pm-button.is-hover.pm-button--warning, .pm-button.pm-button--error:focus, .pm-button.pm-button--error:focus-within, .pm-button.pm-button--error:hover, .pm-button.pm-button--primary:focus, .pm-button.pm-button--primary:focus-within, .pm-button.pm-button--primary:hover, .pm-button.pm-button--warning:focus, .pm-button.pm-button--warning:focus-within, .pm-button.pm-button--warning:hover, .pm-button.pm-button-blue.is-hover, .pm-button.pm-button-blue:focus, .pm-button.pm-button-blue:focus-within, .pm-button.pm-button-blue:hover {
  background: #9ae161;
  border: 1px solid #9ae161; }

.is-active.pm-button--error, .is-active.pm-button--error.pm-button--info, .is-active.pm-button--error.pm-button--redborder, .is-active.pm-button--primary, .is-active.pm-button--primary.pm-button--info, .is-active.pm-button--primary.pm-button--redborder, .is-active.pm-button--warning, .is-active.pm-button--warning.pm-button--info, .is-active.pm-button--warning.pm-button--redborder, .pm-button--error.pm-button--info:not(div):active, .pm-button--error.pm-button--redborder:not(div):active, .pm-button--error:not(div):active, .pm-button--primary.pm-button--info:not(div):active, .pm-button--primary.pm-button--redborder:not(div):active, .pm-button--primary:not(div):active, .pm-button--warning.pm-button--info:not(div):active, .pm-button--warning.pm-button--redborder:not(div):active, .pm-button--warning:not(div):active, .pm-button-blue.is-active, .pm-button-blue.is-active.pm-button--info, .pm-button-blue.is-active.pm-button--redborder, .pm-button-blue.pm-button--info:not(div):active, .pm-button-blue.pm-button--redborder:not(div):active, .pm-button-blue:not(div):active, .pm-button.is-active.pm-button--error, .pm-button.is-active.pm-button--primary, .pm-button.is-active.pm-button--warning, .pm-button.pm-button--error:not(div):active, .pm-button.pm-button--primary:not(div):active, .pm-button.pm-button--warning:not(div):active, .pm-button.pm-button-blue.is-active, .pm-button.pm-button-blue:not(div):active {
  background: #8ddd4b;
  border-color: #8ddd4b; }

.pm-button-blueborder {
  box-shadow: none;
  border-color: #333E4C;
  color: #333E4C;
  transition: color .2s ease-in-out, border-color .2s ease-in-out; }

.pm-button-blueborder:hover {
  box-shadow: none;
  border-color: #8ddd4b;
  color: #8ddd4b; }

.is-active.pm-button--primaryborder,
.pm-button--primaryborder:not(div):active,
.pm-button-blueborder.is-active,
.pm-button-blueborder:not(div):active {
  border-color: #8ddd4b;
  color: #8ddd4b;
  background: transparent; }

.pm-group-buttons > .pm-group-button.pm-button--primary {
  border-color: #8ddd4b; }

.bg-pm-blue-gradient .pm-button--transparent:hover {
  color: #e6eaf0;
  border-color: #e6eaf0; }

.pm-toggle-checkbox:checked + .pm-toggle-label:before {
  background: #A8E576;
  border-color: #A8E576; }

.composer-title-bar {
  background: #333E4C; }

.color-global-light {
  color: #e6eaf0; }

.angular-squire-iframe body a {
  color: #A8E576; }

.fill-pm-blue,
.message-attachmentIcon .file-outer-icon.is-embedded {
  fill: #A8E576; }

.pm-table--highlight[data-plan-number="1"] tr th:nth-child(2) {
  border-color: #A8E576;
  color: #A8E576; }
  .pm-table--highlight[data-plan-number="1"] tr th:nth-child(2)::before {
    background-color: #A8E576; }

.pm-table--highlight[data-plan-number="1"] tr td:nth-child(2),
.pm-table--highlight[data-plan-number="1"] tr th:nth-child(2),
.pm-table--highlight[data-plan-number="1"] tr:last-child td:nth-child(2) {
  border-color: #A8E576; }

.pm-simple-table-row-th .fill-primary {
  fill: #A8E576; }

.pm-checkbox-fakecheck, .pm-radio-fakeradio {
  border-color: #333E4C; }
  .pm-checkbox-fakecheck [class*="icon-"], .pm-radio-fakeradio [class*="icon-"] {
    fill: #A8E576; }

[class*="icon-"].color-primary {
  color: #333E4C; }
  [class*="icon-"].color-primary:hover {
    color: #8ddd4b; }

.pm-field, .editor,
.editor-toolbar,
.border-bottom,
.border-top,
.message-container.is-opened > .message-header {
  border-color: #1f252d; }

.badgeLabel, .badgeLabel-primary {
  border-color: #8ddd4b; }

.badgeLabel,
.badgeLabel-blue,
.badgeLabel-primary,
.bg-pm-blue {
  background-color: #8ddd4b; }

body {
  scrollbar-color: #47576b #374352; }

::-webkit-scrollbar {
  width: 16px; }
  ::-webkit-scrollbar-track {
    background: #374352; }
  ::-webkit-scrollbar-thumb {
    background: #47576b;
    box-shadow: inset 0 0 0 4px #374352;
    border-radius: 16px; }

.isDarkMode .bordered,
.isDarkMode .bordered-container:not([class*="composerInputMeta-"]),
.isDarkMode .breadcrumb-container {
  border-color: #47576b; }

.isDarkMode .dropDown-content::after, .isDarkMode .dropDown-content::before,
.isDarkMode .dropDown:not(.dropDown--noCaret)::before,
.isDarkMode .dropDown-content {
  background: #333E4C;
  border: #333E4C; }

.isDarkMode .dropDown-item-button:focus, .isDarkMode .dropDown-item-button:focus-within,
.isDarkMode .dropDown-item-button:hover, .isDarkMode .dropDown-item-link:focus,
.isDarkMode .dropDown-item-link:focus-within, .isDarkMode .dropDown-item-link:hover {
  background-color: #29323d; }

.isDarkMode .dropDown-item-button.is-disabled, .isDarkMode .dropDown-item-button[disabled],
.isDarkMode .dropDown-item-link.is-disabled, .isDarkMode .dropDown-item-link[disabled] {
  background-color: #2f3946; }

.isDarkMode .squireToolbar-select-list {
  background: #333E4C;
  color: #e6eaf0; }

.isDarkMode .squireToolbar-dropdown-divider {
  background-color: #47576b; }

.isDarkMode .squireToolbar-select-item:hover {
  background: #2f3946; }

.isDarkMode #pm_composer .composer,
.isDarkMode .composerInputMeta-overlay {
  background: #333E4C; }

.isDarkMode #pm_composer .composer .fill {
  background: #333E4C; }

.isDarkMode .composer-body-container textarea {
  background: #333E4C; }

.isDarkMode .composer-addresses-item {
  background: #29323d; }

.isDarkMode .composer-addresses-autocomplete ul {
  background: #29323d; }

.isDarkMode .composer-addresses-autocomplete li[aria-selected="true"],
.isDarkMode .composer-addresses-autocomplete li:hover {
  background: #333E4C; }

.isDarkMode .autocompleteEmails-item {
  background-color: #2f3946;
  border-color: #2f3946; }

.isDarkMode .autocompleteEmails-label {
  border-left: 1px solid #47576b;
  border-right: 1px solid #47576b; }

.isDarkMode .composerOptions-container.show {
  background: #2f3946; }
  .isDarkMode .composerOptions-container.show .shadow-container {
    background: #333E4C;
    color: #e6eaf0; }

.isDarkMode .is-disabled.pm-button--error, .isDarkMode .is-disabled.pm-button--error.pm-button--info, .isDarkMode .is-disabled.pm-button--error.pm-button--redborder, .isDarkMode .is-disabled.pm-button--primary, .isDarkMode .is-disabled.pm-button--primary.pm-button--info, .isDarkMode .is-disabled.pm-button--primary.pm-button--redborder, .isDarkMode .is-disabled.pm-button--warning, .isDarkMode .is-disabled.pm-button--warning.pm-button--info, .isDarkMode .is-disabled.pm-button--warning.pm-button--redborder, .isDarkMode .pm-button--error.pm-button--info[disabled], .isDarkMode .pm-button--error.pm-button--redborder[disabled], .isDarkMode .pm-button--error[disabled], .isDarkMode .pm-button--primary.pm-button--info[disabled], .isDarkMode .pm-button--primary.pm-button--redborder[disabled], .isDarkMode .pm-button--primary[disabled], .isDarkMode .pm-button--warning.pm-button--info[disabled], .isDarkMode .pm-button--warning.pm-button--redborder[disabled], .isDarkMode .pm-button--warning[disabled], .isDarkMode .pm-button-blue.is-disabled, .isDarkMode .pm-button-blue.is-disabled.pm-button--info, .isDarkMode .pm-button-blue.is-disabled.pm-button--redborder, .isDarkMode .pm-button-blue.pm-button--info[disabled], .isDarkMode .pm-button-blue.pm-button--redborder[disabled], .isDarkMode .pm-button-blue[disabled], .isDarkMode .pm-button.is-disabled.pm-button--error, .isDarkMode .pm-button.is-disabled.pm-button--primary, .isDarkMode .pm-button.is-disabled.pm-button--warning, .isDarkMode .pm-button.pm-button--error[disabled], .isDarkMode .pm-button.pm-button--primary[disabled], .isDarkMode .pm-button.pm-button--warning[disabled], .isDarkMode .pm-button.pm-button-blue.is-disabled, .isDarkMode .pm-button.pm-button-blue[disabled] {
  background-color: #2f3946;
  border-color: #47576b;
  color: #c6cfdd; }

.isDarkMode .pm-button:not(.pm-button-blue):not(.pv-button-green):not(.pm-button--primary):not(.pm-button--primaryborderEvenInDarkMode):not(.pm-button--link):not(.pm-button--error):not(.pm-button--warning):not(.pm-button--redborder):not(.pm-button--primaryborder), .isDarkMode .pm-button--info {
  color: #e6eaf0;
  background-color: #333E4C;
  border-color: #47576b; }

.isDarkMode .pm-group-buttons > .pm-group-button.pm-button--primary {
  border-color: #47576b; }

.isDarkMode .pm-button-blueborder {
  border-color: #A8E576;
  color: #A8E576; }

.isDarkMode .pm-button-blueborder:hover {
  border-color: #b6e98b;
  color: #b6e98b; }

.isDarkMode [class*="squireToolbar-row"] .squireToolbar-action-mode:active, .isDarkMode [class*="squireToolbar-row"] .squireToolbar-action-mode:hover, .isDarkMode [class*="squireToolbar-row"] [class*="squireToolbar-action-"]:active, .isDarkMode [class*="squireToolbar-row"] [class*="squireToolbar-action-"]:hover {
  background: #374352 !important; }

.isDarkMode .squireToolbar-separator {
  background: #3d4a5b; }

.isDarkMode .composerTime-container,
.isDarkMode [class*="composer-field"] {
  color: #e6eaf0; }

.isDarkMode .composerInputMeta-overlay-fakefield {
  border-color: #e6eaf0; }

.isDarkMode .encryptionStatus .color-global-grey-dm:not(.color-pm-blue) svg {
  color: white; }

.isDarkMode .conversation {
  border-color: #47576b; }

.isDarkMode .main-area,
.isDarkMode .main-area--noHeader,
.isDarkMode .main-area--withToolbar,
.isDarkMode .main-area--withToolbar--noHeader,
.isDarkMode [class*="block-info-"] {
  color: #e6eaf0; }

.isDarkMode [class*="block-info"] {
  background-color: #47576b;
  color: #e6eaf0; }

.isDarkMode .fill-global-grey {
  fill: #A8E576; }

.isDarkMode .starbutton {
  fill: #0d0d0d; }

.isDarkMode .bg-global-light, .isDarkMode kbd {
  background: #333E4C; }

.isDarkMode .item-container, .isDarkMode .item-container-row, .isDarkMode .contactsummary-container {
  background: #333E4C; }

.isDarkMode .items-column-list-inner, .isDarkMode .ReactVirtualized__Grid__innerScrollContainer {
  border-color: #47576b; }
  .isDarkMode .items-column-list-inner .item-container, .isDarkMode .items-column-list-inner .item-container-row, .isDarkMode .ReactVirtualized__Grid__innerScrollContainer .item-container, .isDarkMode .ReactVirtualized__Grid__innerScrollContainer .item-container-row {
    border-color: #47576b; }

.isDarkMode .item-container:not(.item-is-selected):not(.read):not(.active),
.isDarkMode .item-container:not(.item-is-selected):not(.item-contact):not(.read):not(.active),
.isDarkMode .item-container-row:not(.item-is-selected):not(.item-contact):not(.read):not(.active), .isDarkMode .squireToolbar-container {
  background: #3d4a5b; }

.isDarkMode .item-container.active, .isDarkMode .item-is-selected {
  background: #2f3946; }
  .isDarkMode .item-container.active .flex-item-fluid, .isDarkMode .item-is-selected .flex-item-fluid {
    color: #A8E576; }

.isDarkMode .item-icon {
  background-color: #333E4C;
  border: 1px solid #d6dde6; }

.isDarkMode .selectBoxElement-container:hover .item-icon {
  background-color: #333E4C;
  border: 1px solid #9ae161; }
  .isDarkMode .selectBoxElement-container:hover .item-icon .item-icon-fakecheck-icon {
    fill: #9ae161; }

.isDarkMode .selectBoxElement-container {
  color: #e6eaf0; }

.isDarkMode .selectBoxElement-container:hover .item-checkbox:checked + .item-icon {
  background-color: #9ae161;
  border-color: #9ae161; }

.isDarkMode .item-checkbox + .item-icon:hover,
.isDarkMode .item-checkbox:hover + .item-icon {
  background-color: #29323d; }

.isDarkMode .items-column-list,
.isDarkMode .elementList-container-row {
  background-color: #333E4C; }

.isDarkMode .composer-container {
  background: #3d4a5b; }

.isDarkMode .message-header {
  background-color: #3d4a5b; }

.isDarkMode .view-column-detail {
  background-color: #333E4C; }

.isDarkMode details:first-child {
  border-color: #47576b; }

.isDarkMode .items-column-list,
.isDarkMode .message-container,
.isDarkMode .message-attachments {
  border-color: #47576b; }

.isDarkMode .message-container:not(.sent):not(.draft) .message-header.message-summary::before,
.isDarkMode .message-header.is-inbound::before {
  border-top: 1px solid #47576b;
  border-left: 1px solid #47576b;
  background-color: #3d4a5b; }

.isDarkMode .message-infobox {
  background-color: #333E4C; }

.isDarkMode .message-content.frame.message-frame {
  background: white;
  color: black; }

.isDarkMode .block-info-standard, .isDarkMode .bodyDecrypted blockquote {
  border-color: #A8E576; }

.isDarkMode .squireDropdown-item-label {
  color: #e6eaf0; }

.isDarkMode .squireToolbar-action-color {
  background: transparent; }

.isDarkMode .angular-squire-iframe body {
  color: #e6eaf0;
  background: #3d4a5b; }
  .isDarkMode .angular-squire-iframe body a {
    color: #A8E576; }

.isDarkMode .plaintext-editor {
  color: #e6eaf0; }

.isDarkMode .pm-button, .isDarkMode .pm-button--info, .isDarkMode .pm-button--redborder {
  background: #333E4C;
  border-color: #47576b;
  color: #e6eaf0; }

.isDarkMode .message-attachmentInfo {
  border-color: #47576b; }

.isDarkMode .is-hover.pm-button--info, .isDarkMode .is-hover.pm-button--redborder,
.isDarkMode .pm-button--info:focus, .isDarkMode .pm-button--info:focus-within,
.isDarkMode .pm-button--info:hover, .isDarkMode .pm-button--redborder:focus,
.isDarkMode .pm-button--redborder:focus-within, .isDarkMode .pm-button--redborder:hover,
.isDarkMode .pm-button.is-hover, .isDarkMode .pm-button:focus-within,
.isDarkMode .pm-button:hover:not(.pm-button--primary) {
  color: #A8E576; }

.isDarkMode .pm-button:focus {
  color: #e6eaf0; }

.isDarkMode .is-disabled.pm-button--info,
.isDarkMode .is-disabled.pm-button--redborder,
.isDarkMode .pm-button--info[disabled],
.isDarkMode .pm-button--redborder[disabled],
.isDarkMode .pm-button.is-disabled,
.isDarkMode .pm-button[disabled] {
  background: #47576b; }

.isDarkMode .is-active.pm-button--info,
.isDarkMode .is-active.pm-button--redborder,
.isDarkMode .pm-button--info:not(div):active,
.isDarkMode .pm-button--redborder:not(div):active,
.isDarkMode .pm-button.is-active, .isDarkMode .pm-button:not(div):active {
  background: #47576b;
  color: #A8E576; }

.isDarkMode .dropDown-content {
  background: #333E4C;
  color: #e6eaf0; }
  .isDarkMode .dropDown-content button {
    color: #e6eaf0; }
  .isDarkMode .dropDown-content .elementsSelector-btn-action,
  .isDarkMode .dropDown-content .dropDown-item:hover {
    color: #e6eaf0; }
  .isDarkMode .dropDown-content .dropDown-item:hover {
    background: #3d4a5b !important; }
  .isDarkMode .dropDown-content .dropDown-item + .dropDown-item {
    border-top: 1px solid #47576b; }
  .isDarkMode .dropDown-content .dropDown-item .color-global-grey {
    color: #e6eaf0; }

.isDarkMode .dropDown .dropDown-content::before, .isDarkMode .dropDown .dropDown-content::after {
  border-bottom-color: #333E4C; }

.isDarkMode .dropDown--right-bottom::before {
  border-right-color: #333E4C; }

.isDarkMode .dropDown--right-bottom .dropDown-content::before, .isDarkMode .dropDown--right-bottom .dropDown-content::after {
  background: #333E4C; }

.isDarkMode .dropDown--bottom-right .dropDown-content::before, .isDarkMode .dropDown--bottom-right .dropDown-content::after {
  background: #333E4C; }

.isDarkMode .dropDown--bottom-left::before,
.isDarkMode .dropDown--bottom-right::before,
.isDarkMode .dropDown--bottom::before {
  border-bottom-color: #47576b; }

.isDarkMode .dropDown--bottom-right {
  border: 1px solid #47576b; }

.isDarkMode .pm-field-icon-container[type="search"], .isDarkMode .pm-field[type="search"] {
  background-color: #3d4a5b; }

.isDarkMode .dropDown-contentInner {
  background-color: #333E4C; }
  .isDarkMode .dropDown-contentInner::before, .isDarkMode .dropDown-contentInner::after {
    background-color: #333E4C; }
  .isDarkMode .dropDown-contentInner .dropDown-item span {
    color: #e6eaf0 !important; }

.isDarkMode .searchbox-field[type="search"]:not(#global_search) {
  background: #e6eaf0;
  color: #333E4C; }

.isDarkMode .link:active, .isDarkMode .link:focus, .isDarkMode .link:hover,
.isDarkMode a:active, .isDarkMode a:focus, .isDarkMode a:hover,
.isDarkMode .pm-button--link:hover,
.isDarkMode .composerInputMeta-label:hover {
  color: #b6e98b; }

.isDarkMode .pm-modal, .isDarkMode .pm-modalContentInner {
  background-color: #333E4C;
  color: #e6eaf0; }
  .isDarkMode .pm-modal::before, .isDarkMode .pm-modal::after, .isDarkMode .pm-modalContentInner::before, .isDarkMode .pm-modalContentInner::after {
    background-color: #333E4C; }
  .isDarkMode .pm-modal .labelColorSelector-item-mask, .isDarkMode .pm-modalContentInner .labelColorSelector-item-mask {
    border: 2px solid #52637a; }

.isDarkMode .pm-button--primaryborder, .isDarkMode .pm-button-blueborder {
  border-color: #A8E576;
  color: #A8E576;
  background-color: #3d4a5b;
  transition: background-color .2s ease-in-out; }

.isDarkMode .is-hover.pm-button--primaryborder, .isDarkMode .pm-button--primaryborder:focus,
.isDarkMode .pm-button--primaryborder:focus-within, .isDarkMode .pm-button--primaryborder:hover,
.isDarkMode .pm-button-blueborder.is-hover, .isDarkMode .pm-button-blueborder:focus,
.isDarkMode .pm-button-blueborder:focus-within, .isDarkMode .pm-button-blueborder:hover {
  border-color: #A8E576;
  color: #A8E576;
  background-color: #313c49; }

.isDarkMode .scrollshadow-static {
  background: #333E4C; }

.isDarkMode .pm-field, .isDarkMode .pm-field-icon-container,
.isDarkMode .focus.pm-field-icon-container, .isDarkMode .pm-field-icon-container:focus,
.isDarkMode .pm-field-icon-container:focus-within, .isDarkMode .pm-field.focus,
.isDarkMode .pm-field:focus, .isDarkMode .pm-field:focus-within,
.isDarkMode .composerInputMeta-overlay-fakefield,
.isDarkMode .composerInputMeta-autocomplete {
  color: #e6eaf0;
  background-color: #3d4a5b; }
  .isDarkMode .pm-field::placeholder, .isDarkMode .pm-field-icon-container::placeholder,
  .isDarkMode .focus.pm-field-icon-container::placeholder, .isDarkMode .pm-field-icon-container:focus::placeholder,
  .isDarkMode .pm-field-icon-container:focus-within::placeholder, .isDarkMode .pm-field.focus::placeholder,
  .isDarkMode .pm-field:focus::placeholder, .isDarkMode .pm-field:focus-within::placeholder,
  .isDarkMode .composerInputMeta-overlay-fakefield::placeholder,
  .isDarkMode .composerInputMeta-autocomplete::placeholder {
    color: #d6dde6; }

.isDarkMode .composerInputMeta-autocomplete input {
  color: #e6eaf0;
  background-color: #3d4a5b; }
  .isDarkMode .composerInputMeta-autocomplete input::placeholder {
    color: #d6dde6; }

.isDarkMode select.pm-field, .isDarkMode select.pm-field-icon-container {
  background-color: #3d4a5b;
  color: #e6eaf0; }

.isDarkMode .storageProgress-content.dropDown-content--rightbottom::before {
  border-right-color: #333E4C; }

.isDarkMode .sticky-title {
  background: #374352; }

.isDarkMode .bg-global-highlight {
  background-color: #333E4C; }

.isDarkMode .bg-white-dm {
  background-color: #3d4a5b; }

.isDarkMode .main-area, .isDarkMode .main-area--noHeader,
.isDarkMode .main-area--withToolbar,
.isDarkMode .main-area--withToolbar--noHeader,
.isDarkMode [class*="block-info-"] {
  color: #e6eaf0; }

.isDarkMode .main-area, .isDarkMode .main-area--noHeader,
.isDarkMode .main-area--withToolbar, .isDarkMode .main-area--withToolbar--noHeader {
  background: #333E4C; }

.isDarkMode .context-bar {
  background: #333E4C; }

.isDarkMode .subnav {
  background: #3d4a5b; }
  .isDarkMode .subnav .link, .isDarkMode .subnav a {
    color: #A8E576; }
  .isDarkMode .subnav .link:active, .isDarkMode .subnav .link:focus, .isDarkMode .subnav .link:hover, .isDarkMode .subnav a:active, .isDarkMode .subnav a:focus, .isDarkMode .subnav a:hover {
    color: #b6e98b; }

.isDarkMode .pm-toggle-label {
  border-color: #47576b;
  background: #3d4a5b; }
  .isDarkMode .pm-toggle-label::before {
    background: #333E4C; }
  .isDarkMode .pm-toggle-label .pm-toggle-label-img {
    fill: #e6eaf0; }

.isDarkMode .pm-plans-table-row--highlighted {
  background-color: #333E4C; }

.isDarkMode .pm-checkbox-fakecheck,
.isDarkMode .pm-radio-fakeradio {
  background: transparent; }

.isDarkMode [class*="icon-"].color-primary {
  color: #A8E576; }

.isDarkMode .color-global-grey-dm {
  color: #A8E576; }

.pm-button--error, .pm-button--primary, .pm-button--warning, .pm-button-blue {
  color: #FFF;
  background-color: #7297C4;
  border: 1px solid #7297C4; }

.is-hover.pm-button--error, .is-hover.pm-button--primary, .is-hover.pm-button--warning, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover {
  color: #FFF;
  box-shadow: 0 0 0.35714em 0 rgba(0, 0, 0, 0.2);
  background: #3d6493;
  border: 1px solid #3d6493; }
