/*! =========================================== *
 * MONOKAI THEME
 * Version: 4.0.0
 * Author: tripscripts
 * Website: N/A
 * Twitter: N/A
 * =========================================== */
:root {
  --main-bg-color: #1D1E1A;
  --secondary-bg-color: #10100e;
  --bgcolor-searchbox-field: #5B26D6;
  --bgcolor-spacebar: rgba(255, 255, 255, 0.1);
  --bgcolor-aside-link: rgba(0, 0, 0, 0.3);
  --bgcolor-toolbar: #2a2c26;
  --fillcolor-logo: #f6f7fa;
  --fillcolor-icons: #fff;
  --color-nav-link: #FFF;
  --color-nav-active: #89C62A;
  --color-standard-text: #fff;
  --boxshadow-main: none; }

.pm-button--error, .pm-button--primary, .pm-button--warning, .pm-button-blue {
  color: #fff;
  background-color: #89C62A;
  border: 1px solid #89C62A;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out; }

.is-hover.pm-button--error, .is-hover.pm-button--primary, .is-hover.pm-button--warning, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover {
  color: #FFF;
  box-shadow: 0 0 0.35714em 0 rgba(0, 0, 0, 0.2);
  background: #7ab126;
  border: 1px solid #7ab126; }

.aside-link {
  background: #10100e; }

.aside-link:active .aside-linkIcon, .aside-link:focus .aside-linkIcon, .aside-link:hover .aside-linkIcon, .aside-link[aria-current="true"] .aside-linkIcon {
  fill: #10100e;
  background: none; }

.storageProgress-container .circle-chart__circle {
  stroke: #89C62A; }

.topnav-link, .topnav-link > .topnav-icon {
  color: #FFF;
  transition: color .2s ease-in-out; }

.topnav-link:active, .topnav-link:focus,
.topnav-link:hover, .topnav-link[aria-current="true"] {
  color: #89C62A; }

.topnav-link:active > .topnav-icon, .topnav-link:focus > .topnav-icon,
.topnav-link:hover > .topnav-icon, .topnav-link[aria-current=true] > .topnav-icon {
  color: #89C62A; }

.conversation.marked::before {
  background: #89C62A; }

.conversation .item-checkbox:checked + .item-icon {
  background-color: #89C62A;
  border-color: #89C62A; }

.conversation .item-checkbox + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #89C62A; }

.conversation .item-checkbox:checked + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #FFF; }

.color-pm-blue {
  color: #89C62A; }

.pm-radio:checked + .pm-radio-fakeradio::before {
  background: #89C62A; }

.block-info-standard {
  border-color: #1b68c6; }

.block-info-standard-warning {
  border-color: #ffaa00; }

.block-info-standard-error {
  border-color: #d62646; }

.link, a {
  color: #1D1E1A;
  transition: color .2s ease-in-out; }

.link:active, .link:focus, .link:hover, a:active, a:focus, a:hover {
  color: #6c9c21; }
