/*
built by tripscripts

using Cristiano Almeida's "Theme Generator"
http://www.csalmeida.com/demos/quark/

this theme is based off of 
Sublime Text's "Monokai" color scheme
*/

.headerDesktop-container {
    background-color: #1D1E1A
}

.search-form-fieldset {
    background: #615C4C
}

[class*="searchForm-action-button-"] {
    color: #9376D6
}

.searchForm-action-button-advanced:hover,
.searchForm-action-button-toggle:hover {
    background: #89C62A
}

.customRadio-input:checked+.customRadio-mask {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 10px #89C62A;
    border-color: #89C62A
}

.pm_button.primary,
.pm_button.primary:active {
    color: #fff;
    background-color: #1D1E1A;
    border-color: #1D1E1A
}

.pm_button.primary:hover,
.pm_button.primary:focus {
    background-color: #615C4C;
    border-color: #615C4C
}

.navigation>li.active,
.navigation>li:hover {
    box-shadow: 0 5px 0 0 #89C62A inset
}

.navigation-link {
    color: #9376D6
}

.navigation-title:hover {
    color: #89C62A
}

.pm_dropdown .navigationUser-logout {
    background-color: #1D1E1A !important;
    border-color: #1D1E1A !important;
    color: #9376D6 !important
}

.pm_dropdown .navigationUser-logout:hover {
    background-color: #615C4C !important;
    border-color: #615C4C !important;
    color: #9376D6 !important
}

.sidebar-btn-compose,
.sidebar-btn-compose:active {
    color: #fff !important;
    background: #89C62A !important;
    border: none !important
}

.sidebar-btn-compose:hover {
    color: #fff !important;
    background: #89C62A !important;
    border: none !important;
    box-shadow: inset 0 400px 400px rgba(0, 0, 0, 0.1)
}

.headerDesktop-logo {
    background-color: #1D1E1A
}

body section.sidebar {
    background: #1D1E1A
}

body section.sidebar a.compose {
    background: #89C62A;
    color: #9376D6
}

body section.sidebar a.compose:hover {
    background: #9376D6;
    border-color: #9376D6;
    color: #1D1E1A
}

body section.sidebar ul.menu li a {
    color: #9376D6
}

body section.sidebar ul.menu li a:hover {
    color: #89C62A
}

body section.sidebar ul.menu li.active a,
body section.sidebar ul.menu li.active a {
    color: #9376D6
}

body section.sidebar ul.menu li.active a i.fa,
body section.sidebar ul.menu li.active a i.fa:hover {
    color: #89C62A !important;
    opacity: 1
}

body section.sidebar ul.menu li a .fa-repeat {
    color: #9376D6;
    opacity: 1
}

body section.sidebar ul.menu li a i.fa {
    color: #9376D6;
    opacity: 0.5
}

body section.sidebar ul.menu li a i.fa:hover,
body section.sidebar ul.menu li a:hover i.fa {
    color: #9376D6;
    opacity: 1
}

body section.sidebar ul.menu li a em {
    color: #9376D6;
    opacity: 0.5
}

body section.sidebar div.labels ul li a {
    color: #9376D6;
    opacity: 0.5
}

body section.sidebar div.labels ul li a:hover {
    color: #9376D6;
    opacity: 1
}

body section.sidebar div.footer div.link a,
body section.sidebar a.version {
    color: #9376D6;
    opacity: 0.5
}

body section.sidebar div.footer div.link a:hover,
body section.sidebar a.version:hover {
    color: #89C62A;
    opacity: 1
}

body section.sidebar div.footer div.storage strong {
    color: #9376D6;
    opacity: 0.5
}

body section.sidebar div.footer .bar em {
    background: #89C62A;
    height: 3px
}

body section.sidebar div.footer .bar {
    background: #9376D6;
    height: 3px
}

.pm_buttons,
.pm_buttons a {
    color: #1D1E1A
}

.conversation.marked::before {
    background: #89C62A;
    width: 5px
}

#pm_composer .composer header {
    background: #1D1E1A;
    color: #9376D6
}

p a {
    color: #89C62A
}

#pm_composer .composer footer .pm_button {
    background: #9376D6;
    color: #1D1E1A
}

#pm_composer .composer footer .pm_button:hover {
    background: #9376D6;
    color: #1D1E1A
}

#pm_composer .composer footer .pm_button.primary {
    background: #1D1E1A;
    color: #9376D6
}

#pm_composer .composer footer .pm_button.primary:hover {
    background: #89C62A;
    color: #9376D6
}

#pm_settings .pm_tabs {
    background: #e6eaf0
}

#pm_settings .pm_tabs li a.pm_button {
    color: #1D1E1A;
    border-color: #e6eaf0
}

#pm_settings .pm_tabs li a.pm_button:hover {
    color: #89C62A
}

#pm_settings .pm_tabs li.active a.pm_button {
    color: #89C62A
}

.pm_button.link {
    color: #89C62A
}

.pm_toggle.off .off,
.pm_toggle.on .on {
    background: #1D1E1A;
    color: #9376D6
}

.alert.alert-info {
    background: #e6eaf0;
    color: #000
}

html.protonmail .text-purple {
    color: #89C62A
}

#pm_settings .bar em {
    background: #89C62A;
    height: 4px
}

#pm_settings .bar {
    background: #1D1E1A;
    opacity: 0.5;
    height: 4px
}

#plans .plans .plan h3 {
    background: #1D1E1A;
    color: #9376D6
}

#plans .plans .plan.plus-plan h3 span,
#plans .plans .plan.visionary-plan h3 span,
#plans .plans .plan.visionary-plan header {
    color: #9376D6
}

#plans .plans .plan footer .cycle strong {
    color: #89C62A
}

#plans .plans .plan footer .cycle .discount {
    border-color: transparent #89C62A transparent transparent
}

#plans .plans .plan footer .cycle .discount span {
    color: #9376D6
}

.pm_modal .modal-dialog {
    border-color: #1D1E1A
}

.pm_modal .modal-dialog .close {
    color: #9376D6;
    background: #1D1E1A
}

.pm_badge {
    color: #9376D6
}

.pm_badge.primary {
    background: #1D1E1A;
    color: #9376D6
}

.pm_badge.success {
    background: #89C62A;
    color: #9376D6
}

.pm_table table th a,
.pm_table table th .fa {
    color: #89C62A
}

body .cg-notify-message.notification-success {
    background-color: #89C62A;
    color: #9376D6
}