:root,
.ui-standard {
  --primary-contrast: #{$search};
  --email-item-selected-text-color: #{$search};
  --email-item-selected-icon-text-color: #{$search};
}

.button-solid-norm {
  --button-default-text-color: #{$search};
  --button-hover-text-color: #{$search};
  --button-active-text-color: #{$search};
}