@import "../@theme-base/version";

/*! =========================================== *
 * OCHIN
 * Version: #{$version}
 * Author: Cristiano Almeida
 * Website: https://www.csalmeida.com
 * Twitter: @_csalmeida
 * =========================================== */

$base: #333E4C;
$search: #1A2533;
$highlight: #A8E576;
$navigation: #C2C5CA;
$compose: #7297C4;
$compose_text: #FFF;

$text_color: #e6eaf0;
$extra_color: #0d0d0d;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";
// @import "../@theme-base/full";
// Please do not remove the import above, add overrides and other partials below this line.
@import 'override';
