.sidebar-btn-compose, .sidebar-btn-compose:active {
  color: #3d3d3d !important;
}

.sidebar-btn-compose:hover {
  color: #3d3d3d !important;
}

body .cg-notify-message.notification-success {
  color: #3d3d3d !important;
}

.pm_badge.success {
  color: #3d3d3d !important;
}
