/*! =========================================== *
 * DRACULA Theme
 * Version: 4.0.0-beta12
 * Author: Mike Barkmin
 * Website: www.barkmin.eu
 * Twitter: @mikebarkmin
 * =========================================== */

$base: #282a36;
$search: #000;
$highlight: #FF79C6;
$navigation: #D8D8D8;

$text_color: #e6eaf0;
$extra_color: #50fa7b;
$danger_color:  #ff5555;
$warning_color: #ffb86c;
$info_color: #1b68c6;

@import "../@theme-base/styles";
// @import "../@theme-base/full";
// Please do not remove the import above, add overrides and other partials below this line.
