/*! =========================================== *
 * DRACULA Theme
 * Version: 3.14.0
 * Author: Mike Barkmin
 * Website: www.barkmin.eu
 * Tweets @mikebarkmin
 * =========================================== */

// Change colors here and they will change everywhere.
$base: #282a36;
$search: #000;
$highlight: #FF79C6;
$navigation: #D8D8D8;

$text_color: #0d0d0d;
$extra_color: #50fa7b;
$danger_color: #ff5555;
$warning_color: #ffb86c;

@import '../styles';
