* {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

*:not(.fa) {
font-family: monospace;
}

body {
    font-size: 0.9rem;
}
/* =============
   == Sidebar == 
   ============= */

/* COMPOSE BUTTON */
#compose_button a {
    background: #8cc63f none repeat scroll 0% 0%;
}
#compose_button a:active, #compose_button a:hover {
    background: #e01b2a none repeat scroll 0% 0%; 
}
/* SIDEBAR BACKGROUND */
#sidebar {
    background: #1a1a1a;
    /*border-right: 1px solid rgba(0, 0, 35, 0.5);*/
}
/* SIDEBAR LINKS */
#sidebar ul li a span, #sidebar ul li a {
    color: #fff;
}
#sidebar ul.menu li a:hover, #sidebar ul.menu li a:hover span {
    color: #8cc63f;
}
/* SIDEBAR ACTIVE SECTION */
#sidebar ul.menu li a.active {
    background-color: rgba(10, 10, 10, 0.5);
}
/* NUMBER OF MESSAGES */
#sidebar .number {
    background: rgba(0,0,0,0);
    color: #fff;
    font-size: 0.8rem;
}
#sidebar .number:active {
    font-size: 0.8rem;
    color: #fff;
}

#sidebar ul.menu li a:hover .number {
    background: #e01b2a;
    color: #fff;
}
/* Storage at the end of the side bar. */
#sidebar .storage {
    background: #1a1a1a none repeat scroll 0% 0%;
}

.sizebar {
    color: #fff;
    font-size: 0.8rem;
}

.fill {
    background: transparent linear-gradient(to bottom, greenyellow 0px, #8cc63f 100%) repeat scroll 0% 0%
}
/* =============
   == TOP BAR == 
   ============= */

/* Top bar and footer background */
#main footer .wrap, body #mainHeader, footer .wrap {
    background-color: #1a1a1a;;
}

/* Search bar */
#mainHeader .search.dark input {
    background: rgba(0,0,0,0) none repeat scroll 0% 0%;
    border: 2px solid #8cc63f;
    color: greenyellow;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    border-radius: 0.1rem;

}
/* Magnifing glass and down arrow */
#mainHeader .dark button, #mainHeader .dark button .fa{
    color: #8cc63f;
}
#mainHeader .dark button:hover, #mainHeader .dark button:hover .fa {
    color: #e01b2a;
}

#mainHeader a, #mainHeader a span {
    color: #fff;
}

#mainHeader a:active, #mainHeader a:hover, #mainHeader li a:hover span {
    color: #e01b2a;
}

/*Decrypt page logo*/
#mainHeader .navlogo {
    background: #8cc63f;
    margin: 0 1rem 0 0;
}

#footer .wrap {
    color: #fff;
}

#footer .wrap a {
    color: greenyellow;
}

#footer .wrap a:hover {
    color: #e01b2a;
}

.pure-button.pure-button-primary, body .ui-button.pure-button-primary {
    background: #1a1a1a;
}

.pure-button.pure-button-primary:focus, .pure-button.pure-button-primary:hover, body .ui-button.pure-button-primary:focus, body .ui-button.pure-button-primary:hover {
    background: #e01b2a;
}

#announcement {
    font-size: 0.8rem;
    color: #fff;
    background: rgba(0,0,0,0.8);
}

body a {
    color: #8cc63f;
}
a:hover {
    color: #e01b2a;
}

/* ICONS AND MAIL */
body table#messages tr.starred td {
    /*background: rgba(216,18,32,0.0);*/
}

#dkim .verified {
    color: #60c43f !important;
}

table .fa.fa-lock {
    color: #e01b2a !important;
}

#messages .fa-flag {
    color:#336 !important;
}
/*Responsive Icons */
#mainHeader .fa {
    color: #8cc63f;
}
/*Responsive Menu */
#mmm {
    background: #1a1a1a;
}
#listing-actions-buttons ul li a:hover, #listing-actions-buttons ul li button:hover, #message-actions-buttons ul li a:hover, #message-actions-buttons ul li button:hover, .pure-button:focus, /*.pure-button:hover*/, body .ui-button:focus, body .ui-button:hover {
    color: #8cc63f; !important;
}

/*Labels*/

#listing .pmlabel {
    border-radius: 0.2rem;
    padding: 0.1rem 0.7rem;
    font-size: 0.7rem;
    font-weight: 700 !important;
}

.pmlabel {
    background: #fbb03b;
}


