/*! =========================================== *
 * Template THEME
 * Version: 4.0.0
 * Author: You name here
 * Website: Your website here
 * Twitter: Your twitter handle
 * =========================================== */

// Change colors here and they will change everywhere.
$base: #1C1C1C;
$search: #000;
$highlight: #2FBF71;
$navigation: #fff;

$text_color: #0d0d0d;
$extra_color: #e6eaf0;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";
