/* =========================================== *
 * DARK BUBBLE GUM THEME
 * Version: 3.12.0
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Tweets @_csalmeida
 * =========================================== */
.headerDesktop-container {
  background-color: #1C1C1C;
}

.search-form-fieldset {
  background: #000;
}

[class*="searchForm-action-button-"] {
  color: #FFF;
}

.searchForm-action-button-advanced:hover, .searchForm-action-button-toggle:hover {
  background: #EF2D56;
}

.customRadio-input:checked + .customRadio-mask {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 10px #EF2D56;
  border-color: #EF2D56;
}

.pm_button.primary, .pm_button.primary:active {
  color: #FFF;
  background-color: #1C1C1C;
  border-color: #1C1C1C;
}

.pm_button.primary:hover, .pm_button.primary:focus {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.navigation > li.active, .navigation > li:hover {
  box-shadow: 0 5px 0 0 #EF2D56 inset;
}

.navigation-link {
  color: #FFF;
}

.navigation-title:hover {
  color: #EF2D56;
}

.pm_dropdown .navigationUser-logout {
  background-color: #1C1C1C !important;
  border-color: #1C1C1C !important;
  color: #FFF !important;
}

.pm_dropdown .navigationUser-logout:hover {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #FFF !important;
}

.sidebar-btn-compose, .sidebar-btn-compose:active {
  color: #FFF !important;
  background: #EF2D56 !important;
  border: none !important;
}

.sidebar-btn-compose:hover {
  color: #FFF !important;
  background: #EF2D56 !important;
  border: none !important;
  box-shadow: inset 0 400px 400px rgba(0, 0, 0, 0.1);
}

.headerDesktop-logo {
  background-color: #1C1C1C;
}

body section.sidebar {
  background: #1C1C1C;
}

body section.sidebar a.compose {
  background: #EF2D56;
  color: #FFF;
}

body section.sidebar a.compose:hover {
  background: #FFF;
  border-color: #FFF;
  color: #1C1C1C;
}

body section.sidebar ul.menu li a {
  color: #FFF;
}

body section.sidebar ul.menu li a:hover {
  color: #EF2D56;
}

body section.sidebar ul.menu li.active a, body section.sidebar ul.menu li.active a {
  color: #FFF;
}

body section.sidebar ul.menu li.active a i.fa, body section.sidebar ul.menu li.active a i.fa:hover {
  color: #EF2D56 !important;
  opacity: 1;
}

body section.sidebar ul.menu li a .fa-repeat {
  color: #FFF;
  opacity: 1;
}

body section.sidebar ul.menu li a i.fa {
  color: #FFF;
  opacity: 0.5;
}

body section.sidebar ul.menu li a i.fa:hover, body section.sidebar ul.menu li a:hover i.fa {
  color: #FFF;
  opacity: 1;
}

body section.sidebar ul.menu li a em {
  color: #FFF;
  opacity: 0.5;
}

body section.sidebar div.labels ul li a {
  color: #FFF;
  opacity: 0.5;
}

body section.sidebar div.labels ul li a:hover {
  color: #FFF;
  opacity: 1;
}

body section.sidebar div.footer div.link a, body section.sidebar a.version {
  color: #FFF;
  opacity: 0.5;
}

body section.sidebar div.footer div.link a:hover, body section.sidebar a.version:hover {
  color: #EF2D56;
  opacity: 1;
}

body section.sidebar div.footer div.storage strong {
  color: #FFF;
  opacity: 0.5;
}

.conversationPlaceholder #storageStatus .wrap span strong {
  color: #EF2D56;
}

.storageBar {
  background-color: rgba(0, 0, 0, 0.1);
}

.storageBar .storageBar-progress {
  background-color: #EF2D56;
}

.pm_buttons, .pm_buttons a {
  color: #0d0d0d;
}

.pm_buttons a:hover, .pm_buttons .pm_buttons-child:hover {
  color: #EF2D56;
}

.readUnread-container-ur .readUnread-btn-read,
.pm_buttons .pm_buttons:not(:first-of-type), .pm_buttons > *,
.pm_buttons, .pm_buttons a {
  border-color: #1C1C1C !important;
}

.dropdown-folder-search .fa.dropdown-folder-search-icon,
.dropdown-label-search .fa.dropdown-label-search-icon {
  color: #EF2D56;
}

.dropdown-folder-create-button,
.createLabel-button {
  color: #EF2D56;
}

.customCheckbox-container:hover .customCheckbox-mask,
.customMaskInput-container:hover .customCheckbox-mask {
  border-color: #EF2D56 !important;
}

.customCheckbox-input:checked + .customCheckbox-mask {
  background-color: #EF2D56;
  border-color: #EF2D56;
  color: #1C1C1C;
}

.conversation.marked::before {
  background: #EF2D56;
  width: 5px;
}

#pm_composer .composer header {
  background: #1C1C1C;
  color: #FFF;
}

p a {
  color: #EF2D56;
}

#pm_composer .composer footer .pm_button {
  background: #FFF;
  color: #1C1C1C;
}

#pm_composer .composer footer .pm_button:hover {
  background: #FFF;
  color: #1C1C1C;
}

#pm_composer .composer footer .pm_button.primary {
  background: #1C1C1C;
  color: #FFF;
}

#pm_composer .composer footer .pm_button.primary:hover {
  background: #EF2D56;
  color: #FFF;
}

#pm_settings .pm_tabs {
  background: #e6eaf0;
}

#pm_settings .pm_tabs li a.pm_button {
  color: #1C1C1C;
  border-color: #e6eaf0;
}

#pm_settings .pm_tabs li a.pm_button:hover {
  color: #EF2D56;
}

#pm_settings .pm_tabs li.active a.pm_button {
  color: #EF2D56;
}

.pm_button.link {
  color: #EF2D56;
}

.pm_toggle.off .off, .pm_toggle.on .on {
  background: #1C1C1C;
  color: #FFF;
}

.pm_toggle {
  box-shadow: 0 0 0 1px #e6eaf0;
}

.alert.alert-info {
  background: rgba(230, 234, 240, 0.7);
  color: #0d0d0d;
}

.alert.alert-warning {
  background: rgba(255, 170, 0, 0.7);
  color: #0d0d0d;
}

.pm_button.error:focus, .pm_button.error:hover {
  background-color: #d62646;
  border-color: rgba(214, 38, 70, 0.7);
}

.pm_button.error {
  background-color: rgba(214, 38, 70, 0.7);
  border-color: #d62646;
}

html.protonmail .text-purple,
.settingsUsers-link-signatures {
  color: #EF2D56 !important;
}

html.protonmail .text-red {
  color: #d62646 !important;
}

.pm_button.link {
  color: #0d0d0d !important;
}

.overviewSection-container .topUp-button {
  color: #EF2D56;
}

.settingsDashboard-plans [class*="Column-container"] .isCurrent {
  background: #1C1C1C;
  box-shadow: 0 0 8px #1C1C1C, 0 0 0 2px #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
}

.settingsDashboard-plans.free-active .freeColumn-container,
.settingsDashboard-plans.plus-active .plusColumn-container,
.settingsDashboard-plans.professional-active .professionalColumn-container,
.settingsDashboard-plans.visionary-active .visionaryColumn-container {
  border-color: #1C1C1C;
  box-shadow: 0 0 8px #1C1C1C, 0 0 0 2px #1C1C1C;
}

[class*="settingsDashboard-arrowToScroll"] .arrowsToScroll-button {
  background: rgba(239, 45, 86, 0.7);
}

[class*="settingsDashboard-arrowToScroll"] .arrowsToScroll-button:hover {
  background: #ef2d56;
}

.vpnRow-add {
  background-color: rgba(239, 45, 86, 0.7);
}

.vpnRow-add:hover {
  background: #ef2d56;
}

.settingsDashboard-plans .freeColumn-free,
.totalRows-monthly-price,
.totalRows-yearly-price {
  color: #0d0d0d;
}

.totalRows-discount {
  border-color: transparent #EF2D56;
}

.pm_modal .modal-dialog {
  border-color: #1C1C1C;
}

.pm_modal .modal-dialog .close {
  color: #FFF;
  background: #1C1C1C;
}

.pm_badge {
  color: #FFF;
}

.pm_badge.primary {
  background: #1C1C1C;
  color: #FFF;
}

.pm_badge.success {
  background: #EF2D56;
  color: #FFF;
}

.pm_table table th a, .pm_table table th .fa {
  color: #EF2D56;
}

body .cg-notify-message.notification-success {
  background-color: #EF2D56;
  color: #FFF;
}

.appConfigBody-is-mobile .sidebarApp-container {
  background: #1C1C1C;
}
