/*! =========================================== *
 * VITAMIN C THEME
 * Version: 4.0.0
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Twitter: @_csalmeida
 * =========================================== */

$base: #004358;
$search: #1F8A70;
$highlight: #FD7400;
$navigation: #FFE11A;

$text_color: #e6eaf0;
$extra_color: #0d0d0d;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";