/* =========================================== *
 * GREEN LUME 3.0 THEME BY CRISTIANO ALMEIDA
 * 
 * @_csalmeida
 * http://www.csalmeida.com
 * https://www.behance.net/_csalmeida
 *
 * =========================================== */

/* Frame (topbar and sidebar.) */

header#pm_header-desktop {
    background: #1a1a1a;
}

body section.sidebar {
    background: #1a1a1a;
}

header#pm_header-desktop a.logo {
    background: #1a1a1a;
}

/* Search bar */
form.searchForm fieldset {
    border-radius: 2px;
    background-color: #1a1a1a;
}

form.searchForm fieldset button[type="button"] {
    color: #8cc63f;
    background-color: #1a1a1a;
    border-radius: 2px 0 0 2px;
}

form.searchForm fieldset #closeAdvSearch, form.searchForm fieldset button[type="submit"] {
    color: #8cc63f;
}

form.searchForm fieldset button[type="button"]:hover {
    background-color: #8cc63f;
}

form.searchForm.adv fieldset #closeAdvSearch, form.searchForm.adv fieldset button[type="submit"] {
    background-color: #1a1a1a;
    border-radius: 2px 0 0 2px;
}

.pm_form .input-icon .fa {
    color: #8cc63f;
}

/* Top Navigation */

.pm_button.primary {
    background-color: #8cc63f;
    border-color: #8cc63f;
}

.pm_button.primary:hover {
    background-color: #8cc63f;
    border-color: #8cc63f;
}

header#pm_header-desktop ul.navigation li a .fa {
    color: #fff;   
}

header#pm_header-desktop ul.navigation li a strong {
    color: #fff;
}

/* TN Dropdown Menu */
header#pm_header-desktop .pm_buttons .pm_button.primary {
    background-color: #8cc63f !important;
    border-color: #8cc63f !important;
}

/* TN Links Hover */
header#pm_header-desktop ul.navigation li.active a, header#pm_header-desktop ul.navigation li:hover a {
    border-top-color: #8cc63f !important;
}

header#pm_header-desktop ul.navigation li.active a strong, header#pm_header-desktop ul.navigation li:hover a strong {
    color: #8cc63f;
}

header#pm_header-desktop ul.navigation li.active a .fa, header#pm_header-desktop ul.navigation li:hover a .fa {
    color: #8cc63f;
}

header#pm_header-desktop ul.navigation li.active a strong, header#pm_header-desktop ul.navigation li:hover a strong {
    color: #8cc63f;
}

/* Sidebar Navigation */
body section.sidebar ul.menu li.active a i.fa {
    color: #8cc63f;
}

body section.sidebar ul.menu li a {
    color: #fff;
}

body section.sidebar ul.menu li a:hover {
    color: #8cc63f;
}

body section.sidebar div.footer div.link a {
    color: #8cc63f;
}

body section.sidebar div.footer .bar em {
    background-color: #8cc63f;
}

body section.sidebar div.footer div.storage strong {
    color: #8cc63f;
}
/* Label Navigation */

body section.sidebar div.labels ul li a:hover {
    color: #8cc63f;
}

body section.sidebar div.labels ul li a {
    color: #fff;
}

/* Settings Navigation */

#pm_settings .pm_tabs li.active a.pm_button {
    background: #fff !important;
    color: #1c1c1c;
}

#pm_settings .pm_tabs li a.pm_button {
    border-color: #1c1c1c;
    background: #1c1c1c;
    color: #fff;
}

#pm_settings .pm_tabs li a.pm_button:hover {
    background: #373737;
}

#pm_settings .pm_tabs {
    /*background: #2f2e2e;*/
    background: #474747;
}

/* Dashboard Settings */

#pm_settings #plans header .link {
    color: #8cc63f;
}

#pm_settings #plans .plans .plan header {
    background: #1c1c1c;
    border: 1px solid #1c1c1c;
}

#pm_settings #plans .plans .plan .price, #pm_settings #plans .plans .plan h3 {
    color: #1c1c1c;
}

.pm_button.primary.disabled, .pm_button.primary[disabled] {
    background: #8cc63f;
}

.pm_button.primary:active, .pm_button.primary:focus {
    background: #8cc63f;
    border-color: #8cc63f;
}

html.protonmail .text-purple {
    color: #8cc63f;
}

/* Label Settings */

.pm_button.round {
    border-radius: 2px;
    border: 1px solid #7b7b7b;
}

.pm_button.round .fa {
    color: #8cc63f;
}

/* Security Settings */
.pm_button {
    color: #1c1c1c;
}

.pm_table td {
    color: #1c1c1c;
}

/* Contacts */
.pm_table th a {
    color: #1c1c1c;
}

.pm_table th .fa {
    color: #1c1c1c;
}

/* Report Bug */
.pm_toggle.off .off {
    background: #8cc63f;
}

p a {
    color: #8cc63f;
}

/* Links */

.pm_button.link {
    color: #8cc63f;
}

/* Inbox */

.pm_buttons a {
    color: #1c1c1c;
}

body #conversation-list-rows .conversation.read {
    color: #1c1c1c !important;
}

/* Reading e-mail. */
#conversation-view .message .toggleDetails {
    color: #8cc63f;
}

/* Composing e-mail */
#pm_composer .composer header {
    background: #2c2b2b;
}

#pm_composer .composer header .pm_button {
    color: #8cc63f; 
}

#pm_composer .composer footer .pm_button.primary {
    background: #8cc63f;
}

/* Notifications */
body .cg-notify-message.notification-success {
    background-color: #8cc63f;
    border-color: #8cc63f;
}

/* Tootips */

/*
div.tooltip.inner {
    background: #2c2b2b !important;
}*/

/* Mobile */

header#pm_header-mobile {
    background: #1a1a1a;
}

body.mobileMode #pm_sidebar section.sidebar {
    background: #2c2b2b;
}

body.mobileMode #pm_sidebar section.sidebar .pm_button.round .fa {
    color: #8cc63f;
}

header#pm_header-mobile a.compose {
    color: #8cc63f;
}

body.mobileMode #body #pm_main .fa-check-square, body.mobileMode #body #pm_main .fa-square-o {
    color: #8cc63f;
}