*:not(.fa) {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}
body {
    font-size: 0.8rem;
}
#sidebar a img {
    background: #DC3522;
    padding: 0.5rem;
    border-radius: 5px;
}
/* Main Backgrounds */
#sidebar, #main footer .wrap, body #mainHeader, footer .wrap, #sidebar .storage, #footer, body.outside #mainHeader {
    background: #1E1E20;
}
/* Header Search Bar */
#mainHeader .search.dark input {
    background: #374140;
    color: #D9CB9E;
}
#mainHeader .search input {
    border-radius: 0.3rem;
    border: 1px double #D9CB9E;
}

p.hello {
    opacity:0.6;
}
/* Links */
#mainHeader .dark button, #mainHeader p, #mainHeader a, 
#sidebar ul li a, #sidebar ul li a span, #sidebar ul.menu li a.active,
#sidebar ul.menu li a.active span, .sizebar, #footer .wrap a, #listing-actions-buttons ul li a:hover {
    color: #D9CB9E !important;
}
#mainHeader .dark button:hover, #mainHeader .dark button:hover .fa,
#compose_button span, #compose_button strong, #mainHeader a:active, 
#mainHeader a:hover, #mainHeader a:hover, #mainHeader li a.active span, 
#mainHeader li a:hover span, #sidebar ul.menu li a.active span, 
#sidebar ul.menu li a:hover span, #sidebar ul.menu li a.active:hover, #sidebar ul.menu li a.active,
#footer .wrap a:hover, #sidebar ul.menu li a:hover, #mainHeader a span {
    color: #DC3522 !important;
}

/* Sidebar compose button */
#compose_button strong, #sidebar #compose_button a  span {
    color: #fff !important;
}

#compose_button a {
    background: #DC3522;
}

#compose_button a:active, #compose_button a:hover, .fill {
    background: #374140;
}

/* Sidebar Number */
#sidebar .number, #sidebar .active .number {
    background: #2A2C2B;
    color: #D9CB9E;
}

#sidebar ul.menu li a:hover .number {
    background: #fff;
    color: #DC3522;
}

/* Sidebar Active Section */
#sidebar ul.menu li a.active {
    background: #374140;
}

/*Sidebar Dividers */
.divider {
    opacity: 0.3;
}

/* Footer Text */
#footer .wrap {
    color: #fff;
}
/*Mail Commandbar */
#messages tbody {
    font-size: 0.8rem !important;
}
/* Page Buttons */
.pure-button.pure-button-primary, body .ui-button.pure-button-primary {
    background: #2A2C2B;
    transition: background .2s ease-in;
}
.pure-button.pure-button-primary:focus, .pure-button.pure-button-primary:hover, body .ui-button.pure-button-primary:focus, body .ui-button.pure-button-primary:hover {
    background: #DC3522;
}
/* Labels */
#listing .pmlabel {
    border-radius: 0.2rem;
    padding: 0.1rem 0.7rem;
}
/*Reading Mail*/
#primaryHeader #titleBar h1 {
    font-size: 0.9rem;
}
#page-m .pmlabel {
    padding: 0.1rem 1.2rem;
    padding-left: 0.6rem;
    border-radius: 0.2rem;
}
span.bubble {
    padding: 0.1rem 0.5rem;
}
span.bubble:hover {
    background: #DC3522 !important;
    border-color: #C92518 !important;
    color:#fff !important;
}
#dkim .verified {
    color:#8CC63F;
}
/*Unread*/
#messages tr.unread td {
    background: #fff;
}

#messages tr.unread, #messages tr.unread a, #messages tr.unread td {
    color: #DC3522 !important;
}
/*Starred Mails*/
body table#messages tr.starred td {
    background: #FFC;
}
/*Responsive Menu Background */
#mmm {
    background: #2A2C2B;
}

