/*! =========================================== *
 * DRACULA Theme
 * Version: v4.0.0-beta15
 * Author: Mike Barkmin
 * Website: www.barkmin.eu
 * Twitter: @mikebarkmin
 * =========================================== */
:root {
  --main-bg-color: #282a36;
  --secondary-bg-color: #1d1f27;
  --bgcolor-searchbox-field: #000;
  --bgcolor-spacebar: rgba(255, 255, 255, 0.1);
  --bgcolor-aside-link: rgba(0, 0, 0, 0.3);
  --bgcolor-toolbar: #333545;
  --fillcolor-logo: #f6f7fa;
  --fillcolor-icons: #fff;
  --color-nav-link: #D8D8D8;
  --color-nav-active: #FF79C6;
  --color-standard-text: #fff;
  --boxshadow-main: none; }

.pm-button--error, .pm-button--primary, .pm-button--warning, .pm-button-blue {
  color: #fff;
  background-color: #FF79C6;
  border: 1px solid #FF79C6;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out; }

.is-hover.pm-button--error, .is-hover.pm-button--primary, .is-hover.pm-button--warning, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover {
  color: #D8D8D8;
  box-shadow: 0 0 0.35714em 0 rgba(0, 0, 0, 0.2);
  background: #ff60bb;
  border: 1px solid #ff60bb; }

.aside-link {
  background: #1d1f27; }

.aside-link:active .aside-linkIcon, .aside-link:focus .aside-linkIcon, .aside-link:hover .aside-linkIcon, .aside-link[aria-current="true"] .aside-linkIcon {
  fill: #1d1f27;
  background: none; }

.circle-chart__circle {
  stroke: #FF79C6; }

#global_search.searchbox-field[type="search"] {
  background-color: #000;
  color: #e6eaf0; }

.searchbox-advanced-search-button:active,
.searchbox-advanced-search-button:focus,
.searchbox-advanced-search-button:hover {
  background-color: #282a36; }

.topnav-link, .topnav-link > .topnav-icon {
  color: #D8D8D8;
  transition: color .2s ease-in-out; }

.topnav-link:active, .topnav-link:focus,
.topnav-link:hover, .topnav-link[aria-current="true"] {
  color: #FF79C6; }

.topnav-link:active > .topnav-icon, .topnav-link:focus > .topnav-icon,
.topnav-link:hover > .topnav-icon, .topnav-link[aria-current=true] > .topnav-icon {
  color: #FF79C6; }

.protonmail .text-purple {
  color: #282a36 !important; }

.protonmail .text-purple:hover {
  color: #ff46b0 !important; }

#pm_composer .composer .composerHeader-container,
.composerInputMeta-overlay .composerHeader-container {
  background: #333545; }

.conversation.marked::before {
  background: #FF79C6; }

.item-container:not(.item-is-selected):not(.item-contact):not(.read):not(.active), .item-container-row:not(.item-is-selected):not(.item-contact):not(.read):not(.active) {
  background: #fff; }

.item-container.selected, .item-container-row.selected,
.item-container.active, .item-is-selected {
  background: rgba(255, 121, 198, 0.1); }

.selectBoxElement-container:hover .item-icon {
  background-color: transparent;
  border: 1px solid #ff60bb; }
  .selectBoxElement-container:hover .item-icon .item-icon-fakecheck-icon {
    fill: #ff60bb; }

.selectBoxElement-container:hover .item-checkbox:checked + .item-icon {
  background-color: #ff60bb;
  border-color: #ff60bb; }

.item-checkbox:checked + .item-icon {
  background-color: #FF79C6;
  border-color: #FF79C6; }

.item-checkbox + .item-icon:hover {
  background-color: #ff60bb;
  border-color: #ff60bb; }

.item-checkbox + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #D8D8D8; }

.item-checkbox:checked + .item-icon:hover .item-icon-fakecheck-icon {
  fill: #D8D8D8; }

.starbutton {
  fill: #FF79C6 !important;
  opacity: 0.7; }

.starbutton:focus, .starbutton:hover {
  fill: #FF79C6; }

.autocompleteEmailsItem-icon svg.encryptionIcon {
  fill: #ff60bb; }

.encryptionStatus .color-pm-blue svg {
  color: #ff60bb;
  fill: #ff60bb; }

.encryptionStatus .color-global-grey-dm svg {
  color: black; }

.color-pm-blue {
  color: #FF79C6; }

.pm-radio:checked + .pm-radio-fakeradio::before {
  background: #FF79C6; }

.block-info-standard {
  border-color: #1b68c6; }

.block-info-standard-warning {
  border-color: #ffb86c; }

.block-info-standard-error {
  border-color: #ff5555; }

.link, a, .pm-button--link {
  color: #282a36;
  transition: color .2s ease-in-out; }

.link:active, .link:focus, .link:hover,
a:active, a:focus, a:hover,
.pm-button--link:hover {
  color: #ff46b0; }

.pm-button--primary {
  background-color: #FF79C6;
  border-color: #FF79C6; }

.pm-button--link, .pm-button.pm-button--link {
  color: #FF79C6; }

.pm-button--error, .pm-button--error.pm-button--info, .pm-button--error.pm-button--redborder, .pm-button--primary, .pm-button--primary.pm-button--info, .pm-button--primary.pm-button--redborder, .pm-button--warning, .pm-button--warning.pm-button--info, .pm-button--warning.pm-button--redborder, .pm-button-blue, .pm-button-blue.pm-button--info, .pm-button-blue.pm-button--redborder, .pm-button.pm-button--error, .pm-button.pm-button--primary, .pm-button.pm-button--warning, .pm-button.pm-button-blue {
  background-color: #FF79C6;
  border-color: #FF79C6; }

.is-hover.pm-button--error, .is-hover.pm-button--error.pm-button--info, .is-hover.pm-button--error.pm-button--redborder, .is-hover.pm-button--primary, .is-hover.pm-button--primary.pm-button--info, .is-hover.pm-button--primary.pm-button--redborder, .is-hover.pm-button--warning, .is-hover.pm-button--warning.pm-button--info, .is-hover.pm-button--warning.pm-button--redborder, .pm-button--error.pm-button--info:focus, .pm-button--error.pm-button--info:focus-within, .pm-button--error.pm-button--info:hover, .pm-button--error.pm-button--redborder:focus, .pm-button--error.pm-button--redborder:focus-within, .pm-button--error.pm-button--redborder:hover, .pm-button--error:focus, .pm-button--error:focus-within, .pm-button--error:hover, .pm-button--primary.pm-button--info:focus, .pm-button--primary.pm-button--info:focus-within, .pm-button--primary.pm-button--info:hover, .pm-button--primary.pm-button--redborder:focus, .pm-button--primary.pm-button--redborder:focus-within, .pm-button--primary.pm-button--redborder:hover, .pm-button--primary:focus, .pm-button--primary:focus-within, .pm-button--primary:hover, .pm-button--warning.pm-button--info:focus, .pm-button--warning.pm-button--info:focus-within, .pm-button--warning.pm-button--info:hover, .pm-button--warning.pm-button--redborder:focus, .pm-button--warning.pm-button--redborder:focus-within, .pm-button--warning.pm-button--redborder:hover, .pm-button--warning:focus, .pm-button--warning:focus-within, .pm-button--warning:hover, .pm-button-blue.is-hover, .pm-button-blue.is-hover.pm-button--info, .pm-button-blue.is-hover.pm-button--redborder, .pm-button-blue.pm-button--info:focus, .pm-button-blue.pm-button--info:focus-within, .pm-button-blue.pm-button--info:hover, .pm-button-blue.pm-button--redborder:focus, .pm-button-blue.pm-button--redborder:focus-within, .pm-button-blue.pm-button--redborder:hover, .pm-button-blue:focus, .pm-button-blue:focus-within, .pm-button-blue:hover, .pm-button.is-hover.pm-button--error, .pm-button.is-hover.pm-button--primary, .pm-button.is-hover.pm-button--warning, .pm-button.pm-button--error:focus, .pm-button.pm-button--error:focus-within, .pm-button.pm-button--error:hover, .pm-button.pm-button--primary:focus, .pm-button.pm-button--primary:focus-within, .pm-button.pm-button--primary:hover, .pm-button.pm-button--warning:focus, .pm-button.pm-button--warning:focus-within, .pm-button.pm-button--warning:hover, .pm-button.pm-button-blue.is-hover, .pm-button.pm-button-blue:focus, .pm-button.pm-button-blue:focus-within, .pm-button.pm-button-blue:hover {
  background: #ff60bb;
  border: 1px solid #ff60bb; }

.is-active.pm-button--error, .is-active.pm-button--error.pm-button--info, .is-active.pm-button--error.pm-button--redborder, .is-active.pm-button--primary, .is-active.pm-button--primary.pm-button--info, .is-active.pm-button--primary.pm-button--redborder, .is-active.pm-button--warning, .is-active.pm-button--warning.pm-button--info, .is-active.pm-button--warning.pm-button--redborder, .pm-button--error.pm-button--info:not(div):active, .pm-button--error.pm-button--redborder:not(div):active, .pm-button--error:not(div):active, .pm-button--primary.pm-button--info:not(div):active, .pm-button--primary.pm-button--redborder:not(div):active, .pm-button--primary:not(div):active, .pm-button--warning.pm-button--info:not(div):active, .pm-button--warning.pm-button--redborder:not(div):active, .pm-button--warning:not(div):active, .pm-button-blue.is-active, .pm-button-blue.is-active.pm-button--info, .pm-button-blue.is-active.pm-button--redborder, .pm-button-blue.pm-button--info:not(div):active, .pm-button-blue.pm-button--redborder:not(div):active, .pm-button-blue:not(div):active, .pm-button.is-active.pm-button--error, .pm-button.is-active.pm-button--primary, .pm-button.is-active.pm-button--warning, .pm-button.pm-button--error:not(div):active, .pm-button.pm-button--primary:not(div):active, .pm-button.pm-button--warning:not(div):active, .pm-button.pm-button-blue.is-active, .pm-button.pm-button-blue:not(div):active {
  background: #ff46b0;
  border-color: #ff46b0; }

.pm-button-blueborder {
  box-shadow: none;
  border-color: #282a36;
  color: #282a36;
  transition: color .2s ease-in-out, border-color .2s ease-in-out; }

.pm-button-blueborder:hover {
  box-shadow: none;
  border-color: #ff46b0;
  color: #ff46b0; }

.is-active.pm-button--primaryborder,
.pm-button--primaryborder:not(div):active,
.pm-button-blueborder.is-active,
.pm-button-blueborder:not(div):active {
  border-color: #ff46b0;
  color: #ff46b0;
  background: transparent; }

.pm-toggle-checkbox:checked + .pm-toggle-label:before {
  background: #FF79C6;
  border-color: #FF79C6; }

.angular-squire-iframe body a {
  color: #FF79C6; }

.fill-pm-blue,
.message-attachmentIcon .file-outer-icon.is-embedded {
  fill: #FF79C6; }

.pm-table--highlight[data-plan-number="1"] tr th:nth-child(2) {
  border-color: #FF79C6;
  color: #FF79C6; }
  .pm-table--highlight[data-plan-number="1"] tr th:nth-child(2)::before {
    background-color: #FF79C6; }

.pm-table--highlight[data-plan-number="1"] tr td:nth-child(2),
.pm-table--highlight[data-plan-number="1"] tr th:nth-child(2),
.pm-table--highlight[data-plan-number="1"] tr:last-child td:nth-child(2) {
  border-color: #FF79C6; }

.pm-simple-table-row-th .fill-primary {
  fill: #FF79C6; }

.pm-checkbox-fakecheck, .pm-radio-fakeradio {
  border-color: #282a36; }
  .pm-checkbox-fakecheck [class*="icon-"], .pm-radio-fakeradio [class*="icon-"] {
    fill: #282a36; }

[class*="icon-"].color-primary {
  color: #282a36; }
  [class*="icon-"].color-primary:hover {
    color: #ff46b0; }

.badgeLabel, .badgeLabel-primary {
  border-color: #ff46b0; }

.badgeLabel,
.badgeLabel-blue,
.badgeLabel-primary,
.bg-pm-blue {
  background-color: #ff46b0; }

.progress-contact {
  color: #FF79C6; }
  .progress-contact::-moz-progress-bar {
    background: #FF79C6; }

.calendar-grid-heading[aria-pressed="true"]
.calendar-grid-heading-number,
.minicalendar-day[aria-pressed="true"],
.minicalendar-day[aria-current="date"]::before,
.calendar-monthgrid-day[aria-pressed="true"] .calendar-monthgrid-day-number {
  background: #ff2da5; }

.minicalendar-day[aria-current="date"][aria-pressed="true"]::before {
  background: #FF79C6; }
