/*! =========================================== *
 * DARK BUBBLE GUM THEME
 * Version: 4.0.0
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Twitter: @_csalmeida
 * =========================================== */

$base: #1C1C1C;
$search: #000;
$highlight: #EF2D56;
$navigation: #fff;

$text_color: #0d0d0d;
$extra_color: #e6eaf0;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";