@use "../@theme-base/version" as info;

/*! =========================================== *
 * BLUE AND ORANGE THEME
 * Version: #{info.$version}
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Twitter: @_csalmeida
 * =========================================== */

$base: #0f4c5c;
$search: #0a353f;
$highlight: #ed7d3a;
$navigation: #fff;

$text_color: #f5f7fa;
$extra_color: #0d0d0d;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";

// Please do not remove the imports above, add overrides and other partials below this line.
