/*! =========================================== *
 * BLUE AND ORANGE THEME
 * Version: 4.0.0
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Twitter: @_csalmeida
 * =========================================== */

$base: #0F4C5C;
$search: #0A353F;
$highlight: #ED7D3A;
$navigation: #fff;

$text_color: #e6eaf0;
$extra_color: #0d0d0d;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";
// @import "../@theme-base/full";
// Please do not remove the import above, add overrides and other partials below this line.