// Applies theme styles across as many areas of the layout as possible.

// Scrollbar (PM currently does not style this element)
body {
  scrollbar-color: lighten($base, 10%) lighten($base, 2%);
}
::-webkit-scrollbar {
  width: 16px;

  &-track {
    background: lighten($base, 2%);
  }
  &-thumb {
    background: lighten($base, 10%);
    box-shadow: inset 0 0 0 4px lighten($base, 2%);
    border-radius: 16px;
  }
}

// Message items
.conversation {
  border-color: lighten($base, 10%);
}

.main-area,
.main-area--noHeader, 
.main-area--withToolbar,
.main-area--withToolbar--noHeader,
[class*="block-info-"] {
  color: $text_color;
}

.fill-global-grey {
  fill: $highlight;
}

.starbutton {
  fill: $extra_color;
}

// Read message
.bg-global-light, kbd {
  background: $base;
}

// Unread, not active
.conversation.item-container:not(.item-is-selected):not(.item-contact):not(.read):not(.active),
.conversation.item-container-row:not(.item-contact):not(.read):not(.active) {
  background: lighten($base, 5%);
}

// Active
.item-container.active, .item-is-selected {
  background: darken($base, 2%);
  .flex-item-fluid {
    color: $highlight;
  }
}

// Selected message checkbox
.item-icon {
  background-color: $base;
  border: 1px solid darken($text_color, 5%);
}

.selectBoxElement-container:hover .item-icon {
  background-color: $base;
  border: 1px solid darken($highlight, 5%);

  .item-icon-fakecheck-icon {
    fill: darken($highlight, 5%);
  }
}

.selectBoxElement-container {
  color: $text_color;
}

.selectBoxElement-container:hover .item-checkbox:checked + .item-icon {
  background-color: darken($highlight, 5%);
  border-color: darken($highlight, 5%);
}

// Message list background area
.items-column-list,
.elementList-container-row {
  background-color: $base;
}

// Current message panel
.message-header {
  background-color: lighten($base, 5%);
}

.view-column-detail {
  background-color: $base;
}

details:first-child {
  border-color: lighten($base, 10%);
}

.items-column-list,
.message-container, 
.message-attachments {
  border-color: lighten($base, 10%);
}

.message-container:not(.sent):not(.draft) .message-header.message-summary::before, 
.message-header.is-inbound::before {
  border-top: 1px solid lighten($base, 10%);
  border-left: 1px solid lighten($base, 10%);
  background-color: lighten($base, 5%);
}

// Mailing list block
.bg-white {
  background-color: $base;
}

.bordered, .bordered-container, .breadcrumb-container {
  border-color: lighten($base, 10%);
}

// Email body background, text and links
.email.message-body-container {
  [bgcolor], [style*="background"] {
    background-color: transparent !important;

    * {
      color: $text_color !important;
    }
    a, a * {
      color: $highlight !important;
    }
    a:active, a:focus, a:hover, a:active *, a:focus *, a:hover * {
      color: lighten($highlight, 5%) !important;
    } 
  }
}

// Attachment button
.pm-button, .pm-button--info, .pm-button--redborder {
  background: $base;
  border-color: lighten($base, 10%);
  color: $text_color;
}

.message-attachmentInfo {
  border-color: lighten($base, 10%);
}

.is-hover.pm-button--info, .is-hover.pm-button--redborder,
.pm-button--info:focus, .pm-button--info:focus-within,
.pm-button--info:hover, .pm-button--redborder:focus,
.pm-button--redborder:focus-within, .pm-button--redborder:hover,
.pm-button.is-hover, .pm-button:focus, 
.pm-button:focus-within, .pm-button:hover:not(.pm-button--primary) {
  color: $highlight;
}

.is-disabled.pm-button--info,
.is-disabled.pm-button--redborder,
.pm-button--info[disabled],
.pm-button--redborder[disabled],
.pm-button.is-disabled,
.pm-button[disabled] {
  background: lighten($base, 10%);
}

.is-active.pm-button--info,
.is-active.pm-button--redborder,
.pm-button--info:not(div):active,
.pm-button--redborder:not(div):active,
.pm-button.is-active, .pm-button:not(div):active {
  background: lighten($base, 10%);
  color: $highlight;
}

// Dropdowns
.dropDown-content {
  background: $base;
  color: $text_color;

  button {
    color: $text_color;
  }

  .elementsSelector-btn-action,
  .dropDown-item:hover {
    color: $text_color;
  }

  .dropDown-item:hover {
    background: lighten($base, 5%) !important;
  }

  .dropDown-item + .dropDown-item {
    border-top: 1px solid lighten($base, 10%);
  }

  .dropDown-item {
    .color-global-grey {
      color: $text_color;
    }
  }
}

.dropDown {
  .dropDown-content {
    &::before, &::after {
      border-bottom-color: $base;
    }
  }
}

.dropDown--right-bottom {
  &::before {
    border-right-color: $base;
  }

  .dropDown-content {
    &::before, &::after {
      background: $base;
    }
  }
}

.dropDown--bottom-right {
  .dropDown-content {
    &::before, &::after {
      background: $base;
    }
  }
}

.dropDown--bottom-left::before, 
.dropDown--bottom-right::before, 
.dropDown--bottom::before {
  border-bottom-color: lighten($base, 10%);
}

.dropDown--bottom-right {
  border: 1px solid lighten($base, 10%);
}

.pm-field-icon-container[type="search"], .pm-field[type="search"] {
  background-color: lighten($base, 5%);
}

.dropDown-contentInner {
  background-color: $base;

  &::before, &::after {
    background-color: $base;
  }

  .dropDown-item span {
    color: $text_color !important;
  }
}

.searchbox-field[type="search"]:not(#global_search) {
  background: $text_color;
  color: $base;
}

// Links
.link, a, .pm-button--link {
  color: $highlight;
}

.link:active, .link:focus, .link:hover, 
a:active, a:focus, a:hover,
.pm-button--link:hover {
  color: lighten($highlight, 5%);
}

// Modal
.pm-modal, .pm-modalContentInner {
  background-color: $base;
  color: $text_color;

  &::before, &::after {
    background-color: $base;
  }
  
  .labelColorSelector-item-mask {
    border: 2px solid lighten($base, 15%);
  }
}

.pm-button--primaryborder, .pm-button-blueborder {
  border-color: $highlight;
  color: $highlight;
  background-color: lighten($base, 5%);
  transition: background-color .2s ease-in-out;
}

.is-hover.pm-button--primaryborder, .pm-button--primaryborder:focus,
.pm-button--primaryborder:focus-within, .pm-button--primaryborder:hover,
.pm-button-blueborder.is-hover, .pm-button-blueborder:focus,
.pm-button-blueborder:focus-within, .pm-button-blueborder:hover {
  border-color: $highlight;
  color: $highlight;
  background-color: darken($base, 1%);
}

// Input fields
.pm-field, .pm-field-icon-container,
.focus.pm-field-icon-container, .pm-field-icon-container:focus,
.pm-field-icon-container:focus-within, .pm-field.focus,
.pm-field:focus, .pm-field:focus-within {
  color: $text_color;
  background-color: lighten($base, 5%);

  &::placeholder {
    color: darken($text_color, 5%);
  }
}

select.pm-field, select.pm-field-icon-container {
  background-color: lighten($base, 5%);
  color: $text_color;
}

// Storage progress modal
.storageProgress-content.dropDown-content--rightbottom {
  &::before {
    border-right-color: $base;
  }
}

// Settings panel
.main-area, .main-area-content {
  background-color: $base;

  .p1 {
    background-color: lighten($base, 5%);
  }
}

.subnav {
  background: lighten($base, 5%);
  
  .link, a {
    color: $highlight;
  }
  
  .link:active, .link:focus, .link:hover, a:active, a:focus, a:hover {
    color: lighten($highlight, 5%);
  }
}

// Toggle button
.pm-toggle-label {
  border-color: lighten($base, 10%);
  background: lighten($base, 5%);

  &::before {
    background: $base;
  }

  .pm-toggle-label-img {
    fill: $text_color;
  }
}

// Plans table
.pm-plans-table-row--highlighted {
  background-color: $base;
}