@use "../@theme-base/version" as info;

/*! =========================================== *
 * GREEN LUME THEME
 * Version: #{info.$version}
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Tweets @_csalmeida
 * =========================================== */

// Change colors here and they will change everywhere.
$base: #1c1c1c;
$search: #000;
$highlight: #2fbf71;
$navigation: #fff;

$text_color: #d6d6d6;
$extra_color: #eac819;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";

// Please do not remove the imports above, add overrides and other partials below this line.
