/*! =========================================== *
 * GREEN LUME THEME
 * Version: 4.0.0-beta12
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Tweets @_csalmeida
 * =========================================== */

// Change colors here and they will change everywhere.
$base: #1C1C1C;
$search: #000;
$highlight: #2FBF71;
$navigation: #fff;

$text_color: #d6d6d6;
$extra_color: #eac819;
$danger_color: #d62646;
$warning_color: #ffaa00;
$info_color: #1b68c6;

@import "../@theme-base/styles";
// @import "../@theme-base/full";
// Please do not remove the import above, add overrides and other partials below this line.